[commit]
	gpgsign = true
	template = ~/.dotfiles/tools/git/template.txt
[user]
	email = rvdelmonte@gmail.com
	name = Rodrigo V. Del Monte
	signingkey = C36B3D5EDBB40FCA
[core]
	editor = codium --wait
[diff]
	noprefix = true
[url "git@github.com:"]
    insteadOf = https://github.com/
